<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uphie.one">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".common.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.personal.AboutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!--Umeng的AppKey,可以写在这里，但较不安全-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5629c63be0f55a886b00488f" />
        <!--应用的推广渠道，如“Wandoujia”,"360"-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Wandoujia" />

    </application>

</manifest>
